:root {
  --font-color: #333;
  --font-size-small: 14px;
  --font-size-normal: 16px;
  --font-size-large: 18px;
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100%;
  position: relative;
}

body {
  font-family: "Microsoft YaHei", sans-serif;
}

/* 隐藏滚动条 */
body::-webkit-scrollbar {
  width: 0; /* 隐藏垂直滚动条（仅适用于WebKit浏览器） */
}

* {
  box-sizing: border-box;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.common-text {
  width: 100%;
  color: var(--font-color);
  line-height: 24px;
  font-size: var(--font-size-normal);
  text-align: left;
  word-break: break-all;
  word-wrap: break-word;
}

#nav {
  background-color: #4a94f4;
}

#wrapper {
  width: 100vw;
  height: 100vh;
  position: relative;
  margin: 50px 0 100px;
  overflow: hidden;
}

.bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  filter: blur(5px);
  /* 调整模糊程度，单位可以是像素(px)或其他长度单位 */
  -webkit-filter: blur(5px);
  /* 针对一些WebKit浏览器的前缀版本添加相同的样式 */
}

.my-carousel {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  display: flex;
  align-items: center;
  justify-content: center;
}

.my-carousel-wrapper {
  position: absolute;
  left: 0;
  width: 100vw;
  height: auto;
  transform-style: preserve-3d;
  display: flex;
  align-items: center;
  transition: all 1s ease;
}

.my-carousel-item {
  flex: 1 0 33.3%;
  height: 40vh;
  transform-origin: center center;
  transition: all 1.2s ease;
  border-radius: 2px;
  transform: scale(1);
  position: relative;
  -webkit-box-reflect: none;
}

.my-carousel-item.active {
  z-index: 100;
  filter: blur(0);
  transform: scale(2);
  box-shadow: 0 0 15px 5px rgba(125, 125, 125, .3);
  -webkit-box-reflect: below 0px linear-gradient(180deg, transparent, rgba(0, 0, 0, .5));
}

.my-carousel-item img {
  border-radius: 2px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.article-card {
  width: 100%;
  height: auto;
  display: flex;
  gap: 30px;
  position: relative;
}

.clip-rect1 {
  position: absolute;
  top: 0;
  right: -300px;
  width: 300px;
  height: 300px;
  background: url(/static_host/image/13.jpg) no-repeat;
  background-size: cover;
  background-position: -135px 10px;
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
  transform: scale(0.8) rotateY(180deg);
}

.article-card .article-card-img {
  flex: 0 0 20vw;
  height: 500px;
}

.article-card .article-card-text p {
  flex: 1 1 auto;
  color: var(--font-color);
  line-height: 24px;
  font-size: var(--font-size-large);
  word-break: break-all;
  word-wrap: break-word;
}

.article-card.w-40 .article-card-img {
  flex: 0 0 40vw;
}

.article-card-center {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  min-height: 600px;
}

.article-card-center .article-card-img {
  width: 60%;
  height: 600px;
}

.article-card-center .article-card-text p {
  width: 100%;
  color: var(--font-color);
  line-height: 24px;
  font-size: var(--font-size-large);
  word-break: break-all;
  word-wrap: break-word;
}

.article-card-center.w-100 .article-card-img,
.article-card-center.w-100 .article-card-text
{
  width: 100%;
}

.text-center {
  transform-style: preserve-3d;
}

.card-area-img {
  height: 300px;
  width: 100%;
  border-radius: 4px;
  box-shadow: 0 0 10px 5px rgba(197, 197, 197, .3);
  transition: all .3s ease;
}

.card-area-img:hover {
  transform: scale(1.1);
}

.card-area-img img {
  border-radius: 4px;
}

.card-area-text {
  width: 100%;
  height: 300px;
  color: var(--font-color);
  line-height: 25px;
  font-size: var(--font-size-normal);
  text-align: left;
  word-break: break-all;
  word-wrap: break-word;
  /* 不同浏览器有不同的前缀，比如-moz-box */
  display: -webkit-box;
  /* 子元素的排列方式：垂直排列 */
  -webkit-box-orient: vertical;
  /* 设置3行文本之后打点显示 */
  -webkit-line-clamp: 12;
  /* 超出盒子部分隐藏显示 */
  overflow: hidden;
}
